/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

/****** Déclaration des variables ***********/
$background: #f6f6f6;
$black: #101010;
$green: #99e2d0;
$green-Font: #008766;
$grey: #353535;
$grey2: #eaeaea;
$greyTint4: #7e7e7e;
$primary: #9356dc;
$white: #ffffff;
$boxShadow: #00000026;
$buttonGradient: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
$loader: #2980b9;

$menu-padding: 48px 18px 48px 18px;
$badge-padding: 7px 9.63px 6px 9px;
$badge-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$menu-padding: 48px 18px 48px 18px;
