@charset "UTF-8";
/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

/****** Déclaration des variables ***********/
/****** mixin ***********/
body {
  margin: 0;
}

.main-container {
  background: #ffffff;
  box-sizing: border-box;
}

/* Conteneur du loader */
.loader-container {
  position: fixed; /* Positionnement fixe pour maintenir le loader en place lors du défilement */
  top: 0; /* Distance du haut de la fenêtre du navigateur */
  left: 0; /* Distance de la gauche de la fenêtre du navigateur */
  z-index: 1000; /* Empilement en z, assure que le loader est au-dessus de tout autre contenu */
  display: flex; /* Utilisation de Flexbox pour le centrage */
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
  width: 100%; /* Largeur pleine de la fenêtre du navigateur */
  height: 100vh; /* Hauteur pleine de la fenêtre du navigateur */
  background-color: #2980b9; /* Couleur de fond du loader */
  opacity: 1; /* Opacité du loader */
  animation: fadeOut 0.5s 3s forwards; /* Animation de fondu pour faire disparaître le loader */
}

/* Les points animés */
.dot {
  width: 20px; /* Largeur du point */
  height: 20px; /* Hauteur du point */
  background-color: #ffffff; /* Couleur du point */
  border-radius: 50%; /* Forme du point : cercle */
  margin: 0 5px; /* Marge horizontale entre les points */
  animation: bounce 1s linear infinite; /* Animation de rebond pour donner l'effet de chargement */
  animation-fill-mode: backwards; /* Définit la valeur de départ de l'animation */
}

/* Délai d'animation pour chaque point */
.dot1 {
  animation-delay: 0.2s; /* Délai pour le premier point */
}

.dot2 {
  animation-delay: 0.3s; /* Délai pour le deuxième point */
}

.dot3 {
  animation-delay: 0.4s; /* Délai pour le troisième point */
}

/* Animation de rebond */
@keyframes bounce {
  to {
    transform: translateY(-10px); /* Translation vers le haut pour le rebond */
  }
}
/* Animation de fondu pour faire disparaître le loader */
@keyframes fadeOut {
  to {
    opacity: 0; /* Opacité à 0 pour le fondu */
    visibility: hidden; /* Visibilité cachée */
    height: 0; /* Hauteur à 0 */
  }
}
/****** Header: Logo/aliment + Emplacement ***********/
header {
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 14px 0 13px 0;
  margin: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
}

/****** Emplacement ***********/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  z-index: 1;
  position: relative;
}

.paris-belleville {
  color: #101010;
  font-size: 16px;
  font-weight: 500;
  background: #eaeaea;
  border: none;
  text-align: center;
  padding: 17px;
  max-width: 28%;
}

/****** Section titre + button Gradient ***********/
.backgroundSection {
  background: #f6f6f6;
  text-align: center;
}

h3 {
  font-size: 18px;
  margin: 0;
}

.reservez-menu {
  margin: 0;
  padding-top: 39px;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

.btnGradient {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  font-size: 16px;
  color: #ffffff;
  padding: 13px 18.75px 13px 18.75px;
  margin-bottom: 57px;
  text-align: center;
  width: 218px;
  height: 50px;
  border: none;
}

.btnGradient:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

/****** Section fonctionnement ***********/
.fonctionnement {
  padding: 48px 20px 0 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 180px 0 180px;
  }
}
.fonctionnement .ellipse {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 25px;
  margin-top: 26px;
  padding-bottom: 48px;
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .fonctionnement .ellipse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
  }
}
.fonctionnement .ellipse .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffffff;
  position: absolute;
  left: 8px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement .ellipse .number {
    left: -14px;
    top: 26px;
  }
}
.fonctionnement .ellipse .commande-mobile {
  display: flex;
  flex-direction: row;
  gap: 27px;
  border: 2px solid #f6f6f6;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 28px 0 28px 33px;
  text-align: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
@media screen and (min-width: 1024px) {
  .fonctionnement .ellipse .commande-mobile {
    flex-grow: 1;
    transform: scale(1.02);
  }
}
.fonctionnement .ellipse .commande-mobile .txt-commande-mobile {
  font-weight: 500;
}
.fonctionnement .ellipse .commande-mobile .color-icones-fonctionnement {
  color: #7e7e7e;
}
.fonctionnement .ellipse .commande-mobile .color-icones-fonctionnement:hover {
  color: #9356dc;
  cursor: pointer;
}

/****** Section Restaurants ***********/
.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background: #f6f6f6;
  padding: 48px 18px 48px 18px;
  box-sizing: border-box;
  text-decoration: none;
  color: #101010;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .menu {
    padding: 30px 180px;
    gap: 28px;
    flex-wrap: wrap;
  }
}
.menu .section-restaurants {
  padding-left: 2px;
}
.menu .card-menu {
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  flex-shrink: 1;
  text-decoration: none;
  color: #101010;
}
@media screen and (min-width: 1024px) {
  .menu .card-menu {
    flex-basis: 32%;
    flex-grow: 1;
  }
}
.menu .card-menu img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.menu .card-menu .titre-menu {
  margin-bottom: 5px;
  margin-top: 15px;
  padding-left: 13px;
}
.menu .card-menu .sous-titre-menu {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 12px;
  padding-left: 13px;
}

article {
  position: relative;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 50px;
}

.badge-nouveau {
  border-radius: 2px;
  background: #99e2d0;
  padding: 7px 9.63px 6px 9px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 13px;
  top: 10px;
}

.position-heart {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  bottom: 12px;
  right: 25px;
}

.coeur {
  position: absolute;
  font-size: 28px;
  cursor: pointer;
  width: 10%;
}

.like-full {
  opacity: 0;
  transition-property: all;
}

.coeur:hover {
  opacity: 1;
  background-image: linear-gradient(
    193.33deg,
    #9356dc -11.44%,
    #ff79da 123.93%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.badge-nouveau-2 {
  border-radius: 2px;
  background: #99e2d0;
  padding: 7px 9.63px 6px 9px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 13px;
  top: 10px;
}

.nouveau {
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

/****** Footer ***********/
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #353535;
  color: #ffffff;
  padding: 22px 25px;
  gap: 16px;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
}
footer .logo-footer {
  font-family: Shrikhand, sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 18px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  footer ul {
    flex-direction: row;
  }
}
footer ul li {
  display: flex;
  align-items: center;
}
footer ul li .liens-footer-restaurant {
  font-weight: 500;
  color: #ffffff;
  padding-left: 11px;
}
@media screen and (min-width: 1024px) {
  footer ul li .liens-footer-restaurant {
    width: 168px;
  }
}
footer ul li .liens-footer-partenaire {
  padding-left: 5px;
}
@media screen and (min-width: 1024px) {
  footer ul li .liens-footer-partenaire {
    width: 168px;
  }
}
footer ul li .text-footer {
  color: #ffffff;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  footer ul li .text-footer {
    width: 130px;
  }
}
@media screen and (min-width: 1024px) {
  footer ul li .contact {
    width: 130px;
  }
}
footer ul li .text-footer:hover,
footer ul li .liens-footer-restaurant:hover,
footer ul li .liens-footer-partenaire:hover {
  text-decoration: underline;
}

/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

/****** Déclaration des variables ***********/
/****** mixin ***********/
/****** Footer ***********/
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #353535;
  color: #ffffff;
  padding: 22px 25px;
  gap: 16px;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
}
footer .logo-footer {
  font-family: Shrikhand, sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 18px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  footer ul {
    flex-direction: row;
  }
}
footer ul li {
  display: flex;
  align-items: center;
}
footer ul li .liens-footer-restaurant {
  font-weight: 500;
  color: #ffffff;
  padding-left: 11px;
}
@media screen and (min-width: 1024px) {
  footer ul li .liens-footer-restaurant {
    width: 168px;
  }
}
footer ul li .liens-footer-partenaire {
  padding-left: 5px;
}
@media screen and (min-width: 1024px) {
  footer ul li .liens-footer-partenaire {
    width: 168px;
  }
}
footer ul li .text-footer {
  color: #ffffff;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  footer ul li .text-footer {
    width: 130px;
  }
}
@media screen and (min-width: 1024px) {
  footer ul li .contact {
    width: 130px;
  }
}
footer ul li .text-footer:hover,
footer ul li .liens-footer-restaurant:hover,
footer ul li .liens-footer-partenaire:hover {
  text-decoration: underline;
}

/****** Ajout d'une classe d'animation pour chaque groupe avec des décalages de temps ***********/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.entrees {
  animation: fadeInUp 0.5s ease 0.5s both;
}

.plats {
  animation: fadeInUp 0.5s ease 1.5s both;
}

.desserts {
  animation: fadeInUp 0.5s ease 2.5s both;
}

/****** Header: Logo/aliment + icone "Go back" ***********/
.main-container {
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.fa-arrow-left {
  position: absolute;
  top: 26px;
  left: 17px;
  cursor: pointer;
}

.return_link {
  position: relative;
  z-index: 1;
}

/****** Bannière ***********/
.banner {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .banner {
    max-height: 383px;
  }
}

/****** Les menus ***********/
main {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main .le-menu {
    margin: -51px auto 0 auto;
  }
}

.le-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  padding: 24px 13px 0 13px;
  border-radius: 50px 50px 0 0;
  margin-top: -51px;
}
@media screen and (min-width: 1024px) {
  .le-menu {
    max-width: 1055px;
    text-align: center;
  }
}

.titre-du-menu {
  margin: 0;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.position_heart_restaurant {
  top: 30px;
  right: 25px;
}
@media screen and (min-width: 1024px) {
  .position_heart_restaurant {
    right: 270px;
  }
}

/****** Entrées/Plats/Desserts ***********/
.cartes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .cartes {
    align-self: center;
    width: 63%;
  }
}

.titre-article-restaurant {
  padding-bottom: 5px;
  padding-top: 40px;
  width: 40px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.titre-article-restaurant::before {
  content: "";
  position: absolute;
  width: 40px;
  padding-bottom: 3px;
  background-color: #99e2d0;
  margin-top: 19px;
}

/****** Cartes ***********/
.bouton {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: margin-right 0.3s ease-in-out;
}
.bouton .noms {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bouton .noms .nom-du-plat {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.bouton .noms .description-du-plat {
  font-size: 15.04px;
  font-weight: 300;
  margin: 0;
}

.prix {
  font-size: 15.04px;
  font-family: Roboto;
  font-weight: 700;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 0;
  transition: margin-right 0.3s ease-in-out;
}

.bouton:hover .prix {
  margin-right: 23%;
}
@media screen and (min-width: 428px) {
  .bouton:hover .prix {
    margin-right: 17%;
  }
}
@media screen and (min-width: 1024px) {
  .bouton:hover .prix {
    margin-right: 12%;
  }
}

.bouton-icone {
  background-color: #99e2d0;
  padding: 0 30px;
  border-radius: 0 15px 15px 0;
  position: absolute;
  right: 0;
  top: 0%;
  height: 100%;
  border: none;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.bouton:hover .bouton-icone {
  transform: translateX(0%);
  color: white;
  font-size: 20px;
}

.bouton-icone {
  color: #ffffff;
  font-size: 20px;
}

/****** button Gradient ***********/
.btnGradient-commander {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding: 13px 18.75px 13px 18.75px;
  margin-bottom: 40px;
  text-align: center;
  width: 186px;
  border: none;
  margin-top: 40px;
}

.btnGradient-commander:hover {
  cursor: pointer;
  filter: brightness(1.1);
} /*# sourceMappingURL=style.css.map */
